# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

将删除 chap02-intro/src/test/
将删除 chap02-intro/target/
将删除 target/
